 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>IoT</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/arduino/arduino-original.svg" style="height:80px;" alt="icon" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/raspberrypi/raspberrypi-original.svg" style="height:80px;" alt="icon" />
      <!-- <i class="devicon-labview-plain"></i> -->
      <p>Using Arduino, ESP32 and Raspberry Pi for various projects like home automation with google home, automated gate control system, mine detection robot, vehicle instrument cluster design and simulation.
        I also work with VHDL for designing FPGA systems.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
<!--      <i class="devicon-matlab-plain colored"></i> -->
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain"></i>
      <p>I work with C/C++ and Python, and I've explored machine vision projects because, well, robots need eyes too.
        I've experience in HTML and CSS for web development. And yes, THE FPGA!!</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matlab/matlab-original.svg" style="height:80px;" alt="icon" />
<!--      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-blender-original"></i>    -->
      <p>Proficient in engineering tools like Xilinx (AMD), ModelSim, MATLAB, and PowerWorld Simulator — regularly used throughout various projects as needs and technologies evolved.</p>
    </div>
</div>
