<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Autonomous Object <br> Detection and <br> Transport Robot </h3>
    <ul>
      <li> University Competition</li>
    </ul>
    <p>This project involved developing an autonomous robot to detect objects and colours, then grab, sort, and place them at specific locations. We used LEGO for the chassis, MATLAB for programming and integrated sensors with NI myDAQ for real-time data acquisition.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Universal Car Dashboard </h3>
    <ul>
      <li> Final Year project</li>
    </ul>
    <p>For my final year project, I developed a modular car instrument cluster and dashboard using Raspberry Pi 5 and C++. It's designed to support most light vehicles and complies with Australian automotive standards, highlighting both technical skill and real-world application.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
